# CRITICAL: Don't commit API keys
**/Config.plist
RedLyt/RedLyt/Config.plist

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
